<%=@user.username%><br>

<h2>Hosting Events</h2>
<% @user.events.each do |event| %>
   <%= event.title %>
   <%= event.description %>
   <%= event.date %>
   <br>
   <br>
<% end %>

<h2>Attending Events</h2>
<% @user.attended_events.each do |event| %>
   <%= event.title %>
   <%= event.description %>
   <%= event.date %>
   <br>
   <br>
<% end %>

